.container {
  height: 100%;
  width: auto;
  max-width: 900px;
  overflow-y: scroll;
  display: flex;
  gap: 1rem;
  padding: var(--sm-1);
  -ms-overflow-style: none;
  scrollbar-width: none;
  overflow-y: scroll;
}

.container::-webkit-scrollbar {
  display: none;
}

.item {
  height: 100%;
  width: auto;
  padding: var(--sm-2) var(--md-1);
  background-color: #f2f2f2;
  border-radius: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: #090909;
}

.selected {
  background-color: #606060;
  color: #f9f9f9;
}
