:root {
  /* colors */
  --primary: #ff0043;
  --secondary: #fafafa;
  --complementary: #D3D3D3;

  --dark-primary: #100f10;
  --dark-secondary: #1b1b1b;
  --dark-complementary: #242424;

  /* fonts */
  --text-light: #fffffff5;
  --text-main: #f8f8f8;
  --text-bolder: #7171716f;

  /* sizes */
  --sm-1: 0.375rem;
  --sm-2: 0.625rem;
  --sm-3: 0.875rem;

  --md-1: 1rem;
  --md-2: 1.375rem;
  --md-3: 1.75rem;

  --lg-1: 2.5rem;
  --lg-2: 3.5rem;
  --lg-3: 4.5rem;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* border: 1px solid #100f1018; */
}

html {
  position: fixed;
  height: 100%;
  width: 100%;
}

body {
  position: relative;
  height: 100%;
  width: 100%;
  font-size: var(--md-1);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

li {
  list-style: none;
}

#__next {
  /* or main */
  height: inherit;
  width: inherit;
  overflow: hidden;
  align-items: center;
}

.app {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  overflow: scroll;
  gap: 1rem;
}
