.header {
  width: 100%;
  height: 8%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: var(--sm-1) 0;
  gap: var(--sm-1);
  border-bottom: 1px solid var(--text-bolder);
}

.logo {
  height: 100%;
  width: 25%;
}

.searchBar {
  height: 100%;
  width: 60%;
}

.avatar {
  height: 100%;
  width:15%;
   cursor: pointer;
  /* border-radius: 50%; */
}

.avatar figure {
  height: 100%;
  width: 100%;
  object-fit: fill;
  overflow: hidden;
  text-align: center;
  padding: var(--sm-1);
}

.avatar figure img {
  border-radius: 50%;
  width: auto;
  height: 100%;
  border: 1px solid var(--complementary);

}
