.app {
  height: 100%;
  width: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.app header {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.app header nav {
  height: auto;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 0.5rem;
  padding: 0.5rem;
  max-width: 1140px;
}

.app header nav .logo {
  cursor: pointer;
}

.app main {
  overflow-y: scroll;
}
