.layout {
  height: 100%;
  width: 100%;
}

.header {
  height: auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  height: 50%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--sm-1);
  gap: 1rem;
}

.search {
  width: 100%;
  min-width: 120px;
  max-width: 400px;
}

.avatar {
  cursor: pointer;
}

.cat {
  height: auto;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.cat::-webkit-scrollbar {
  display: none;
}

.cat button {
  padding: 0.6rem 1.2rem;
  border: #393939;
  outline: transparent;
  background-color: #f2f2f2;
  text-transform: uppercase;
  border-radius: 8px;
  color: #474747;
  font-weight: bold;
}
.cat .selected {
  background-color: #0f0f0f;
  color: #e2e2e2;
}

.main {
  height: 100%;
  overflow-y: scroll;
}
