.logo {
  /* background-color: var(--dark-primary); */
  color: var(--primary);
  font-family: 'Arial', sans-serif;
  font-size: var(--md-1);
  font-weight: bold;
  filter: drop-shadow(2px 2px 2px rgba(0, 0, 0, 0.5));
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
