.searchBar {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  --radius: 28px
}

.searchBar input {
  height: 100%;
  width: 80%;
  border: 1px solid var(--complementary);
  border-radius: var(--radius) 0 0 var(--radius);
  outline: transparent;
  padding: var(--md-1);
}

.iconButton {
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 1px solid var(--complementary);
  border-radius: 0 var(--radius) var(--radius) 0;
  background-color: var(--text-main);
  cursor: pointer;
}